<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataBase.Properties.Settings.CHAllocationsConnectionString"
      connectionString="Data Source=MCC-FLS,1400;Initial Catalog=CHAllocations;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.OfficeConnectionString"
      connectionString="Data Source=MCC-FLS,1400;Initial Catalog=Fams;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.GNCCDBConnectionString"
      connectionString="Provider=SQLOLEDB;Data Source=DB;Persist Security Info=True;Password=GNCCDB;User ID=freqdep;Initial Catalog=RegistryDB"
      providerName="System.Data.OleDb" />
    <add name="DataBase.Properties.Settings.PrivilegiesConnectionString"
      connectionString="Data Source=MCC-FLS,1400;Initial Catalog=Privilegies;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.GNCC_FLSConnectionString"
      connectionString="Data Source=MCC-FLS\SQL2000;Initial Catalog=GNCC_FLS;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.SecureConnectionString"
      connectionString="Data Source=WSGNCC-08-08;Initial Catalog=Secure;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.ActivityLogConnectionString"
      connectionString="Data Source=MCC-FLS,1400;Initial Catalog=ActivityLog;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.XTerraDBConnectionString"
      connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\XTerraDB.mdb"
      providerName="System.Data.OleDb" />
    <add name="DataBase.Properties.Settings.pubsConnectionString"
      connectionString="Data Source=MCC-FLS,1400;Initial Catalog=pubs;Persist Security Info=True;User ID=sa;Password=saadmin"
      providerName="System.Data.SqlClient" />
    <add name="DataBase.Properties.Settings.docmasterConnectionString"
      connectionString="server=192.168.0.217;user id=roma;password=roma123;persistsecurityinfo=True;database=docmaster"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>